// Fonts
@font-face {
    // Regular
    font-family: "C&L Regular";
    src: url("/fonts/ChampagneAndLimousines-7KRB.ttf") format('truetype');
}
@font-face {
    // Bold
    font-family: "C&L Bold";
    font-weight: bold;
    src: url("/fonts/ChampagneAndLimousinesBold-myr2.ttf") format('truetype');
}
@font-face {
    // Italics
    font-family: "C&L Italics";
    font-style: italic;
    src: url("/fonts/ChampagneAndLimousinesItalic-PlRZ.ttf") format('truetype');
}
@font-face {
    // Bold italics
    font-family: "C&L BoldItalics";
    font-style: italic;
    font-weight: bold;
    src: url("/fonts/ChampagneAndLimousinesBoldItalic-dqex.ttf") format('truetype');
}

// Typography
$font-stack: "C&L Regular";
$font-size-base: 1.04rem;
$navFontSize: 24pt;
$line-height-base: 1.2;

// Borders
$borderThin: 1px;
$borderMed: 2px;
$borderThick: 3px;
$inputCorner: 1rem;
$panelCorner: 1.6rem;
$roundedEnd: 10rem;

// Timings
$transitionTime: 0.1s;

// Foreground Colours
$fontColor: rgb(66, 66, 66);
$foreLight: rgb(192, 192, 192);
$graphicColor: rgb(218, 218, 218);

// Panel background Colour
$panelColor: rgb(242, 242, 242);
$panelAccent: rgb(244, 244, 244);

// Input stuff
$inputColor: rgb(252, 252, 252);

// Window background Colour
$backColor: rgb(250, 250, 250);
$offBack: rgb(248, 248, 248);

// Overlay background colour
$overlayColor: rgba(10, 10, 10, 0.5);
// Footer transition colour
$footerColor: rgb(220, 220, 220);

// Accent Colours
$appRedUnderlay: rgb(243, 212, 231);
$appRedUnderlayDark: rgb(233, 202, 221);
$appRedlight: rgb(248, 95, 189);
$appRed: rgb(228, 75, 169);
$appRedDark: rgb(208, 55, 149);

$appGreenUnderlay: rgb(205, 255, 236);
$appGreenUnderlayDark: rgb(215, 245, 226);
$appGreenLight: rgb(95, 248, 189);
$appGreen: rgb(75, 228, 169);
$appGreenDark: rgb(64, 200, 148);

$appBlueUnderlay: rgb(189, 230, 239);
$appBlueUnderlayDark: rgb(179, 220, 229);
$appBlueLight: rgb(75, 199, 228);
$appBlue: rgb(75, 169, 228);
$appBlueDark: rgb(55, 149, 208);

$appYellowUnderlay: rgb(243, 238, 213);
$appYellowUnderlayDark: rgb(233, 228, 203);
$appYellowLight: rgb(248, 219, 95);
$appYellow: rgb(238, 209, 85);
$appYellowDark: rgb(228, 199, 75);

$appPurpleUnderlay: rgb(199, 169, 238);
$appPurpleUnderlayDark: rgb(189, 159, 228);
$appPurpleLight: rgb(131, 51, 250);
$appPurple: rgb(111, 21, 230);
$appPurpleDark: rgb(91, 1, 210);

// Logo colour stuff
$logoLight: rgb(233, 233, 233);

// // Dark Mode
// $foreColor: rgb(190, 190, 190);
// $foreLight: rgb(232, 232, 232);

// $backColor: rgb(25, 25, 25);
// $footerColor: rgb(20, 20, 20);
// $inputHighlight: rgb(40, 40, 40);

// Shadow stuff
$shdwClr: rgb(140, 140, 140);
@mixin hasShadow() {
    box-shadow: 0 0 0.2rem 0 $shdwClr;
}

// mixin formatting function for "display: flex"
@mixin flexDisplay($direction, $horizontal, $vertical) {
    display: flex;
    flex-direction: $direction;
    align-items: $vertical;
    justify-content: $horizontal;
}

