@import 'global';

// feed navigation top-bar
#feed-nav {
    position: fixed;
    z-index: 1;
    top: 0;

    padding: 2rem;
    width: calc(100% - 4rem);
    height: 2.8rem;

    background-color: $backColor;

    // @include hasShadow();

    // padding-bottom: 0;
    // height: 4.5rem;
    // background: linear-gradient($backColor 80%, rgba(0,0,0,0) 99%);

    #nav-left, #nav-center, #nav-right {
        position: absolute;
        z-index: 2;

        @include flexDisplay(row, space-between, center);

        .menu-item {
            position: relative;

            margin: 0 1rem;

            width: 4.4rem;
            height: 4.4rem;
            font-size: 70%;

            user-select: none;

            * {
                transition: transform $transitionTime ease-in-out,
                            background-color $transitionTime ease-in-out 0.02s,
                            stroke $transitionTime ease-in-out -0.02s,
                            fill $transitionTime ease-in-out -0.02s;
            }

            a,
            h1 {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            a {
                top: 0;

                @include flexDisplay(column, center, center);

                height: 4.4rem;
                width: 100%;
                border-radius: 50%;
                background-color: $panelAccent;

                cursor: pointer;

                svg {
                    height: 60%;
                    width: 60%;

                    fill: $graphicColor;
                    stroke: $graphicColor;
                }

                &:hover {
                    transform: translateX(-50%) scale(1.12);
                    & + h1 {
                        opacity: 100%;
                    }
                }
                &:active {
                    transform: translateX(-50%) scale(0.96);
                }
            }

            h1 {
                top: 100%;

                margin: 1rem 0;

                min-width: 4rem;
                padding: 0.5rem;
                border-radius: 0.32rem;

                background-color: $overlayColor;
                color: $backColor;
                text-align: center;
                font-weight: bold;
                opacity: 0%;

                pointer-events: none;

                transition: opacity $transitionTime ease-in-out,
            }
        }
        // .menu-item:not(.active) {
        //     a {
        //         &:hover {
        //             & + h1 {
        //                 opacity: 100%;
        //             }
        //         }
        //     }
        // }

    }
    #nav-left {
        top: 1.4rem;
        left: 7.4rem;

        width: 32rem;

        #search-box {
            width: 90%;

            #search-icon {
                fill: $graphicColor;
                stroke: $graphicColor;

                cursor: pointer;
            }

            #search-bar {
                margin: 0;
                width: 100%;
            }
        }
    }
    #nav-center {
        top: 1.2rem;
        left: 50%;
        transform: translateX(-50%);

        #all {
            &.active {
                a {
                    background-color: $appBlueUnderlay;
                    svg {
                        fill: $appBlue;
                        stroke: $appBlue;
                    }
                }
            }
            a {
                &:hover {
                    background-color: $appBlueUnderlay;
                    svg {
                        fill: $appBlueLight;
                        stroke: $appBlueLight;
                    }
                }
                &:active {
                    background-color: $appBlueUnderlayDark;
                    svg {
                        fill: $appBlueDark ;
                        stroke: $appBlueDark;
                    }
                }
            }
        }
        #posts {
            &.active {
                a {
                    background-color: $appGreenUnderlay;
                    svg {
                        fill: $appGreen;
                        stroke: $appGreen;
                    }
                }
            }
            a {
                &:hover {
                    background-color: $appGreenUnderlay;
                    svg {
                        fill: $appGreenLight;
                        stroke: $appGreenLight;
                    }
                }
                &:active {
                    background-color: $appGreenUnderlayDark;
                    svg {
                        fill: $appGreenDark;
                        stroke: $appGreenDark;
                    }
                }
            }
        }
        #news {
            &.active {
                a {
                    background-color: $appRedUnderlay;
                    svg {
                        fill: $appRed;
                        stroke: $appRed;
                    }
                }
            }
            a {
                &:hover {
                    background-color: $appRedUnderlay;
                    svg {
                        fill: $appRedlight;
                        stroke: $appRedlight;
                    }
                }
                &:active {
                    background-color: $appRedUnderlayDark;
                    svg {
                        fill: $appRedDark;
                        stroke: $appRedDark;
                    }
                }
            }
        }

    }
    #nav-right {
        top: 1.2rem;
        right: 1.2rem;

        #user-buttons {
            margin-top: 0.4rem;
        }

        #create {
            &.active {
                a {
                    background-color: $appPurpleUnderlay;
                    svg {
                        fill: $appPurple;
                        stroke: $appPurple;
                    }
                }
            }
            a {
                &:hover {
                    background-color: $appPurpleUnderlay;
                    svg {
                        fill: $appPurpleLight;
                        stroke: $appPurpleLight;
                    }
                }
                &:active {
                    background-color: $appPurpleUnderlayDark;
                    svg {
                        fill: $appPurpleDark;
                        stroke: $appPurpleDark;
                    }
                }
            }
        }
        #notifications {
            &.active {
                a {
                    background-color: $appYellowUnderlay;
                    svg {
                        fill: $appYellow;
                        stroke: $appYellow;
                    }
                }
            }
            a {
                &:hover {
                    background-color: $appYellowUnderlay;
                    svg {
                        fill: $appYellowLight;
                        stroke: $appYellowLight;
                    }
                }
                &:active {
                    background-color: $appYellowUnderlay;
                    svg {
                        fill: $appYellowDark;
                        stroke: $appYellowDark;
                    }
                }
            }
        }

    }

    #notification-container {
        position: absolute;
        z-index: 1;
        top: 7.2rem;
        right: 2.4rem;

        min-height: 28rem;
        width: 14.6rem;
        padding: 1rem;

        border-radius: $panelCorner;
        background-color: $panelAccent;

        opacity: 0;
        transform: scale(0);

        transition: opacity $transitionTime ease-in-out,
                    transform $transitionTime ease-in-out;

        &:before {
            content: '';

            position: absolute;

            top: -0.96rem;
            right: 8.4rem;
            transform: translateX(50%);

            width: 0;
            height: 0;
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;

            border-bottom: 1rem solid $panelAccent;

            border-top-right-radius: 30%;
        }

        &.active {
            opacity: 1;
            transform: scale(1);
        }

        h4.notification {
            margin: 0.6rem 0.2rem;

            width: calc(100% - 2rem);
            padding: 0.8rem 0.8rem;
            background-color: $appGreenUnderlay;
            border-radius: $inputCorner;

            &:nth-child(1) {
                margin-top: 0.32rem;
            }
        }

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            white-space: nowrap;
        }
    }

}

#site-overlay {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: $overlayColor;

    .prompt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include flexDisplay(column, flex-start, center);

        padding: 2rem;
        background-color: $panelColor;
        border-radius: $panelCorner;

        user-select: none;

        button {
            margin: 1rem 0;
        }

        p.cancel-prompt,
        p.close-prompt {
            cursor: pointer;
            transition: transform $transitionTime ease-in-out;

            &:hover {
                transform: scale(1.08);
            }
            &:active {
                transform: scale(0.96);
            }
        }
    }

}

// 'main' content formatting
main {
    @include flexDisplay(column, flex-start, center);

    padding: 9rem 0;

    min-height: calc(100vh - 10rem);

    .content-panel,
    .comment {
        position: relative;

        .author-info {
            position: relative;

            display: inline-flex;
            flex-direction: row;
            align-items: center;

            border-radius: $inputCorner;
            padding: 0.72rem;
            margin: -0.72rem;

            .profile-image-container {
                margin: 0;
                margin-right: 1.2rem;
                width: 4.2rem;
            }

            h3,
            p {
                white-space: nowrap;
            }

            h3 {
                font-size: 1.4rem;
                margin-bottom: 0.24rem;
            }
            p {
                margin: 0;
            }
            div:not(.profile-image-container):not(.profile-image) {
                width: 60%;
            }
        }

        .thumb-container {
            @include flexDisplay(column, center, center);

            position: absolute;
            top: 1.6rem;
            right: 2rem;

            // top: 0.2rem;
            // right: 0.6rem;
            // padding: 1.4rem;
            // border-radius: 50%;

            user-select: none;
            cursor: pointer;

            transition: transform $transitionTime ease-in-out;

            &.liked {
                .like-thumb {
                    fill: $appGreen;
                }
                h3,
                h4 {
                    color: $appGreen;
                }
            }

            .like-thumb,
            h3,
            h4 {
                transition: all $transitionTime ease-in-out;
            }

            &:hover {
                transform: scale(1.08);

                .like-thumb {
                    fill: $appGreenLight;
                }
                h3,
                h4 {
                    color: $appGreenLight;
                }
            }
            &:active {
                transform: scale(0.96);

                .like-thumb {
                    fill: $appGreenDark;
                }
                h3,
                h4 {
                    color: $appGreenDark;
                }
            }

        }

    }

    .content-panel {
        padding: 2rem;

        overflow: hidden;

        h1 {
            font-size: 2.4rem;
            margin: 0.6rem 0;
        }

        .tag-container {
            @include flexDisplay(row, flex-start, center);
            margin-left: -0.2rem;

            p, a {

                margin: 0.2rem;
                margin-top: 0;

                padding: 0.2rem 0.4rem;
                border-radius: 0.32rem;

                font-weight: bold;
            }
            p {
                background-color: $backColor;
            }
            a {
                letter-spacing: 0.04rem;
                transition: transform $transitionTime ease-in-out;

                &:hover {
                    transform: scale(1.08);
                }
                &:active {
                    transform: scale(0.96);
                }

                &.home {
                    background-color: $appYellow;
                }
                &.technology {
                    background-color: $appBlueLight;
                }
                &.work {
                    background-color: $appGreen;
                }
                &.leisure {
                    // color: $backColor;
                    background-color: $appBlue;
                }
                &.diy {
                    // color: $backColor;
                    background-color: $appRed;
                }
                &.health {
                    background-color: $appRedlight;
                }
                &.cooking {
                    background-color: $backColor;
                }
                &.gaming {
                    color: $backColor;
                    background-color: $appPurpleLight
                }
                &.nsfw {
                    color: $backColor;
                    background-color: $fontColor;
                }
            }
        }

        .thumb-container {
            .like-thumb {
                height: 3.2rem;
                width: 3.2rem;

                fill: $foreLight;

            }
            h3 {
                margin: 0;
                margin-top: 0.2rem;
                color: $foreLight;
            }
        }
    }

    .comment {
        padding: 1rem;

        .author-info {
            margin-bottom: 0.8rem;
        }
        .thumb-container {
            .like-thumb {
                height: 2.2rem;
                width: 2.2rem;

                fill: $foreLight;

            }
            h4 {
                margin: 0;
                margin-top: 0.2rem;
                color: $foreLight;
            }
        }

        p {
            margin: 0;
        }

    }

    svg.loading-graphic {
        margin-top: 2rem;
        height: 5rem;
        width: 5rem;
    }

}

