@import 'content';

// feed navigation top-bar
#feed-nav {

    #nav-bottom {
        @include flexDisplay(row, center, center);

        font-size: 90%;

        div, h1 {
            user-select: none;

            transition: all $transitionTime ease-in-out;
        }

        div {
            @include flexDisplay(column, center, center);
            margin: 0 2vh;

            color: $footerColor;

            cursor: pointer;


            &:hover {
                transform: scale(1.04);
            }
            &:active {
                transform: scale(1);
            }

            h1 {
                margin: 0.6vh 0;
                font-weight: bold;
            }
        }

        svg {
            height: 3rem;
            width: 3rem;

            fill: $graphicColor;
            stroke: $graphicColor;
        }

        #all {
            &.active {
                svg {
                    fill: $appBlueDark;
                    stroke: $appBlueDark;
                }
                h1 {
                    color: $appBlueDark;
                }
            }

            &:hover {
                svg {
                    fill: $appBlue;
                    stroke: $appBlue;
                }
                h1 {
                    color: $appBlue;
                }
            }
            &:active {
                svg {
                    fill: $appBlueDark;
                    stroke: $appBlueDark;
                }
                h1 {
                    color: $appBlueDark;
                }
            }
        }
        #blogs {
            &.active {
                svg {
                    fill: $appGreenDark;
                    stroke: $appGreenDark;
                }
                h1 {
                    color: $appGreenDark;
                }
            }

            &:hover {
                svg {
                    fill: $appGreen;
                    stroke: $appGreen;
                }
                h1 {
                    color: $appGreen;
                }
            }
            &:active {
                svg {
                    fill: $appGreenDark;
                    stroke: $appGreenDark;
                }
                h1 {
                    color: $appGreenDark;
                }
            }
        }
        #images {
            &.active {
                svg {
                    fill: $appYellowDark;
                    stroke: $appYellowDark;
                }
                h1 {
                    color: $appYellowDark;
                }
            }

            &:hover {
                svg {
                    fill: $appYellow;
                    stroke: $appYellow;
                }
                h1 {
                    color: $appYellow;
                }
            }
            &:active {
                svg {
                    fill: $appYellowDark;
                    stroke: $appYellowDark;
                }
                h1 {
                    color: $appYellowDark;
                }
            }
        }
        #news {
            &.active {
                svg {
                    fill: $appRedDark;
                    stroke: $appRedDark;
                }
                h1 {
                    color: $appRedDark;
                }
            }

            &:hover {
                svg {
                    fill: $appRed;
                    stroke: $appRed;
                }
                h1 {
                    color: $appRed;
                }
            }
            &:active {
                svg {
                    fill: $appRedDark;
                    stroke: $appRedDark;
                }
                h1 {
                    color: $appRedDark;
                }
            }
        }

    }

}

main {
    padding-top: 17rem;

    .content-panel {

        margin: 1.4rem 0;
        transition: box-shadow $transitionTime ease-in-out;

        .comment-container {
            margin-left: -2.4rem;
            margin-bottom: -2.4rem;

            width: 100%;
            padding: 2.4rem;
            padding-top: 1.4rem;
            background-color: $panelAccent;

            > h3 {
                margin: 0;
                margin-left: 1.4rem;
                margin-bottom: -0.6rem;
            }
            .comment {
                padding: 1.4rem;
                margin: 1rem 0;
                background-color: $backColor;
                border-radius: $panelCorner;
            }
        }

        .overlay {
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;

            height: 60%;
            width: 100%;

            background: linear-gradient(rgba(0,0,0,0) 0%, $overlayColor 100%);
            opacity: 0%;

            transition: opacity $transitionTime ease-in-out;

            button,
            input[type="submit"] {
                position: absolute;

                bottom: 4rem;
                left: 50%;
                transform: translateX(-50%);
            }

        }

        &:hover {
            box-shadow: 0 0 0.4rem 0 $shdwClr;

            .overlay {
                opacity: 100%;
            }
        }

    }

    > p {
        font-size: 140%;
        margin-top: 4rem;
    }
}


