@import 'content';

main {
    padding: 14rem 0;

    .profile-image-container {
        margin-bottom: 1rem;
        width: 16%;

        @include hasShadow();
    }
    h1#user-name {
        font-size: 3rem;
        margin: 0.8rem 0;
        & + h4 {
            margin-top: -0.8rem;
            margin-bottom: 1rem;
        }
    }


    .content-panel {

        margin: 1.4rem 0;
        transition: box-shadow $transitionTime ease-in-out;

        .content-preview {
            position: relative;
            margin: 1rem 0;

            max-height: 28rem;

            overflow: hidden;

            .image-container {
                width: 100%;
                border-radius: $panelCorner $panelCorner 0 0;

                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            .content-fadeout {
                position: absolute;
                bottom: 0;

                width: 100%;
                height: 40%;

                background: linear-gradient(rgba(0,0,0,0) 0%, $panelColor 96%);
            }
        }

        .comment-container {
            margin-left: -2.4rem;
            margin-bottom: -2.4rem;

            width: 100%;
            padding: 2.4rem;
            padding-top: 1.4rem;
            background-color: $panelAccent;

            > h3 {
                margin: 0;
                margin-left: 1.4rem;
                margin-bottom: -0.6rem;
            }
            .comment {
                padding: 1.4rem;
                margin: 1rem 0;
                background-color: $backColor;
                border-radius: $panelCorner;
            }
        }

        .overlay {
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;

            height: 50%;
            width: 100%;

            background: linear-gradient(rgba(0,0,0,0) 0%, $overlayColor 100%);
            opacity: 0%;

            transition: opacity $transitionTime ease-in-out;

            button,
            input[type="submit"] {
                position: absolute;

                bottom: 4rem;
                left: 50%;
                transform: translateX(-50%);
            }

        }

        &:hover {
            box-shadow: 0 0 0.4rem 0 $shdwClr;

            .overlay {
                opacity: 100%;
            }
        }

    }

    > p {
        font-size: 140%;
        margin-top: 4rem;
    }

    #profile-nav {
        @include flexDisplay(row, center, center);

        margin: 3rem 0;
        margin-bottom: -1rem;

        .menu-item {
            @include flexDisplay(column, center, center);

            margin: 0 2rem;

            width: 6rem;
            color: $footerColor;
            // font-size: 70%;

            * {
                transition: transform $transitionTime ease-in-out,
                            background-color $transitionTime ease-in-out,
                            stroke $transitionTime ease-in-out,
                            fill $transitionTime ease-in-out;
            }

            div {
                position: relative;

                @include flexDisplay(column, center, center);

                height: 6rem;
                width: 100%;
                border-radius: 50%;
                background-color: $panelAccent;

                cursor: pointer;
                user-select: none;

                svg {
                    height: 56%;
                    width: 56%;

                    fill: $graphicColor;
                    stroke: $graphicColor;
                }

                &:hover {
                    transform: scale(1.12);
                }
                &:active {
                    transform: scale(0.96);
                }
            }
            h1 {
                margin: 1rem 0;
                text-align: center;
                font-weight: bold;
                white-space: nowrap;
            }
        }
    }


}

