@import 'global';

h1,
h2 {
    margin: 0;
    align-self: flex-start;
    margin-left: 10%;
}
h1 {
    font-size: 6.8rem;
}
h2 {
    font-size: 3.2rem;
}

main {
    @include flexDisplay(column, center, center);

    height: 100vh;

    #welcome-screen {
        @include flexDisplay(row, center, center);
        height: 100%;
        width: 100%;
    }

    .content-panel {
        user-select: none;

        box-shadow: 0 0 0.6rem 0 $shdwClr;

        form {
            padding: 2rem;
        }
    }

    a:not(#guest-browse) {
        margin-top: 2rem;
    }

    a {
        transition: transform $transitionTime ease-in-out;

        &:hover {
            transform: scale(1.04);
        }
        &:active {
            transform: scale(1);
        }

    }

}

#demo-content {
    position: relative;
    height: 100%;
    width: 42%;

    .content-panel {
        position: absolute;

        top: 50%;
        left: 50%;

        min-width: 0 !important;
        width: 19rem;
        height: 35rem;

        padding: 1rem;

        h1 {
            transform: translateX(-5%);
        }

        &.panel-1 {
            transform: translate(-40%, -70%);
        }
        &.panel-2 {
            transform: translate(-100%, -30%);
        }
    }

}

#greeting,
#guest-links {
    @include flexDisplay(column, flex-start, center);
}
#greeting {
    width: 58%;
}

#guest-links {
    margin-top: 20%;

    #or-container {
        margin: 1.4rem 0;
        font-size: 140%;
    }

}

#login-form,
#register-form {
    width: 40rem;
}
