@font-face {
  font-family: "C&L Regular";
  src: url("/fonts/ChampagneAndLimousines-7KRB.ttf") format("truetype");
}

@font-face {
  font-family: "C&L Bold";
  font-weight: bold;
  src: url("/fonts/ChampagneAndLimousinesBold-myr2.ttf") format("truetype");
}

@font-face {
  font-family: "C&L Italics";
  font-style: italic;
  src: url("/fonts/ChampagneAndLimousinesItalic-PlRZ.ttf") format("truetype");
}

@font-face {
  font-family: "C&L BoldItalics";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/ChampagneAndLimousinesBoldItalic-dqex.ttf") format("truetype");
}

body,
html {
  margin: 0 !important;
  font: 1rem "C&L Regular";
  line-height: 1.2;
  color: #424242;
  background-color: #fafafa;
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: #424242;
}

svg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#logo {
  position: fixed;
  z-index: 2;
  top: 2vh;
  left: 2vh;
  height: 4.2rem;
  width: 4.2rem;
}

#logo.live {
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

#logo.live:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

#logo.live:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 2vh;
  font-size: 24pt;
}

nav a {
  margin: 2.4vh 0;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

nav a:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

nav a:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

nav svg {
  fill: silver;
  stroke: silver;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
}

#loading-screen svg.loading-graphic {
  height: 12rem;
  width: 12rem;
}

svg.loading-graphic .elem {
  fill: #e9e9e9;
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
  -webkit-transform-origin: center;
          transform-origin: center;
}

svg.loading-graphic .elem:nth-child(1) {
  -webkit-animation: pulse1 1.4s ease infinite;
          animation: pulse1 1.4s ease infinite;
}

svg.loading-graphic .elem:nth-child(2) {
  -webkit-animation: pulse2 1.4s ease infinite;
          animation: pulse2 1.4s ease infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

svg.loading-graphic .elem:nth-child(3) {
  -webkit-animation: pulse3 1.4s ease infinite;
          animation: pulse3 1.4s ease infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes pulse1 {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: #4be4a9;
  }
}

@keyframes pulse1 {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: #4be4a9;
  }
}

@-webkit-keyframes pulse2 {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: #40c894;
  }
}

@keyframes pulse2 {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: #40c894;
  }
}

@-webkit-keyframes pulse3 {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse3 {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

main {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

main,
.screen-split-horizontal {
  max-width: 1920px;
}

.screen-split-horizontal {
  margin: 2vh 0;
  height: 2px;
  width: 90%;
  background-color: silver;
  border-radius: 10rem;
}

.screen-split-vertical {
  margin: 0 2vh;
  height: 90%;
  width: 2px;
  background-color: silver;
  border-radius: 10rem;
}

main .content-panel,
main .image-panel {
  margin: 1rem 0;
  border-radius: 1.6rem;
  -webkit-box-shadow: 0 0 0.2rem 0 #8c8c8c;
          box-shadow: 0 0 0.2rem 0 #8c8c8c;
}

main .content-panel {
  width: 50%;
  background-color: #f2f2f2;
}

.profile-image-container {
  border-radius: 50%;
}

.profile-image-container .profile-image {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image-container .profile-image > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  height: 102%;
  -o-object-fit: cover;
     object-fit: cover;
}

form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form a,
form button,
form input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

form a {
  margin: 2vh 0;
}

form .form-box {
  position: relative;
  height: 4rem;
  width: 100%;
}

form .form-box svg,
form .form-box input {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

form .form-box svg {
  z-index: 2;
  left: 0.9rem;
  height: 1.8rem;
  width: 1.8rem;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

form .form-box input:not([type="checkbox"]) {
  left: 0;
  text-indent: 2.7rem;
}

form .form-box:hover svg {
  -webkit-transform: translateY(-50%) scale(1.05);
          transform: translateY(-50%) scale(1.05);
}

form .form-box:active svg {
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

textarea,
input:not([type="checkbox"]) {
  width: calc(100% - 1.44rem);
  padding: 0.72rem;
  margin-bottom: 2vh;
  font-size: 1.28rem;
  color: inherit;
  font-family: inherit;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0 0 0.1rem 0 #8c8c8c;
          box-shadow: 0 0 0.1rem 0 #8c8c8c;
  border: none;
  border-radius: 1rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

textarea:hover,
input:not([type="checkbox"]):hover {
  -webkit-box-shadow: 0 0 0.2rem 0 #8c8c8c;
          box-shadow: 0 0 0.2rem 0 #8c8c8c;
}

button,
input[type="submit"] {
  min-width: 8rem;
  padding: 1vh 2vh;
  margin: 0 0.5vh;
  border: none;
  border-radius: 10rem;
  background-color: #4be4a9;
  -webkit-box-shadow: 0 0 0.2rem 0 #8c8c8c;
          box-shadow: 0 0 0.2rem 0 #8c8c8c;
  color: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

button:hover,
input[type="submit"]:hover {
  -webkit-box-shadow: 0 0 0.4rem 0 #8c8c8c;
          box-shadow: 0 0 0.4rem 0 #8c8c8c;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

button:active,
input[type="submit"]:active {
  -webkit-box-shadow: 0 0 0.4rem 0 #8c8c8c;
          box-shadow: 0 0 0.4rem 0 #8c8c8c;
  background-color: #40c894;
  -webkit-transform: scale(1);
          transform: scale(1);
}

label {
  margin-bottom: 0.2rem;
}

label.locked {
  color: gray !important;
}

label.checkOption, label.subOption {
  display: block;
  position: relative;
  margin: 0;
  margin-bottom: 0.6vh;
  height: 1.4rem;
  width: 0;
  font-weight: normal;
  color: inherit;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

label.checkOption input, label.subOption input {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

label.checkOption input:checked ~ .checkbox,
label.checkOption input:checked ~ .checkbox, label.subOption input:checked ~ .checkbox,
label.subOption input:checked ~ .checkbox {
  background-color: #4be4a9;
}

label.checkOption:hover input ~ .checkbox,
label.checkOption:hover input ~ .checkbox, label.subOption:hover input ~ .checkbox,
label.subOption:hover input ~ .checkbox {
  background-color: #40c894;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

label.checkOption:hover input:checked ~ .checkbox,
label.checkOption:hover input:checked ~ .checkbox, label.subOption:hover input:checked ~ .checkbox,
label.subOption:hover input:checked ~ .checkbox {
  background-color: #40c894;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

label.subOption {
  -webkit-transform: translate(3.4vh);
          transform: translate(3.4vh);
}

.checkbox {
  position: absolute;
  top: -0.5vh;
  left: 0;
  background-color: #fafafa;
  border-radius: 0.2rem;
  height: 1.2rem;
  width: 1.2rem;
  text-indent: 1.4rem;
}

input[type="checkbox"] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(gainsboro));
  background: linear-gradient(#fafafa 0%, gainsboro 100%);
}

footer a {
  font-size: 16pt;
}

#feed-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  padding: 2rem;
  width: calc(100% - 4rem);
  height: 2.6rem;
  background-color: #fafafa;
}

#feed-nav #nav-left, #feed-nav #nav-center, #feed-nav #nav-right {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#feed-nav #nav-left .menu-item, #feed-nav #nav-center .menu-item, #feed-nav #nav-right .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1rem;
  width: 4.4rem;
  color: gainsboro;
  font-size: 70%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#feed-nav #nav-left .menu-item *, #feed-nav #nav-center .menu-item *, #feed-nav #nav-right .menu-item * {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#feed-nav #nav-left .menu-item a, #feed-nav #nav-center .menu-item a, #feed-nav #nav-right .menu-item a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4.4rem;
  width: 100%;
  border-radius: 50%;
  background-color: #f4f4f4;
  cursor: pointer;
}

#feed-nav #nav-left .menu-item a svg, #feed-nav #nav-center .menu-item a svg, #feed-nav #nav-right .menu-item a svg {
  height: 60%;
  width: 60%;
  fill: #dadada;
  stroke: #dadada;
}

#feed-nav #nav-left .menu-item a:hover, #feed-nav #nav-center .menu-item a:hover, #feed-nav #nav-right .menu-item a:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

#feed-nav #nav-left .menu-item a:hover + h1, #feed-nav #nav-center .menu-item a:hover + h1, #feed-nav #nav-right .menu-item a:hover + h1 {
  opacity: 100%;
}

#feed-nav #nav-left .menu-item a:active, #feed-nav #nav-center .menu-item a:active, #feed-nav #nav-right .menu-item a:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#feed-nav #nav-left .menu-item h1, #feed-nav #nav-center .menu-item h1, #feed-nav #nav-right .menu-item h1 {
  margin: 1rem 0;
  min-width: 4rem;
  padding: 0.5rem;
  border-radius: 0.32rem;
  background-color: rgba(10, 10, 10, 0.5);
  color: #fafafa;
  text-align: center;
  font-weight: bold;
  opacity: 0%;
}

#feed-nav #nav-left {
  top: 1.4rem;
  left: 7.4rem;
  width: 32rem;
}

#feed-nav #nav-left #search-box {
  width: 90%;
}

#feed-nav #nav-left #search-box #search-icon {
  fill: #dadada;
  stroke: #dadada;
  cursor: pointer;
}

#feed-nav #nav-left #search-box #search-bar {
  margin: 0;
  width: 100%;
}

#feed-nav #nav-center {
  top: 1.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#feed-nav #nav-center #all.active a {
  background-color: #bde6ef;
}

#feed-nav #nav-center #all.active a svg {
  fill: #3795d0;
  stroke: #3795d0;
}

#feed-nav #nav-center #all a:hover {
  background-color: #bde6ef;
}

#feed-nav #nav-center #all a:hover svg {
  fill: #4ba9e4;
  stroke: #4ba9e4;
}

#feed-nav #nav-center #all a:active {
  background-color: #bde6ef;
}

#feed-nav #nav-center #blogs.active a {
  background-color: #cdffec;
}

#feed-nav #nav-center #blogs.active a svg {
  fill: #40c894;
  stroke: #40c894;
}

#feed-nav #nav-center #blogs a:hover {
  background-color: #cdffec;
}

#feed-nav #nav-center #blogs a:hover svg {
  fill: #4be4a9;
  stroke: #4be4a9;
}

#feed-nav #nav-center #blogs a:active a {
  background-color: #cdffec;
}

#feed-nav #nav-center #news.active a {
  background-color: #f3d4e7;
}

#feed-nav #nav-center #news.active a svg {
  fill: #d03795;
  stroke: #d03795;
}

#feed-nav #nav-center #news a:hover {
  background-color: #f3d4e7;
}

#feed-nav #nav-center #news a:hover svg {
  fill: #e44ba9;
  stroke: #e44ba9;
}

#feed-nav #nav-center #news a:active a {
  background-color: #f3d4e7;
}

#feed-nav #nav-right {
  top: 1.2rem;
  right: 1.2rem;
}

#feed-nav #nav-right #user-buttons {
  margin-top: 0.4rem;
}

#site-overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.5);
}

#site-overlay .prompt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 1.6rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#site-overlay .prompt button {
  margin: 1rem 0;
}

#site-overlay .prompt p.cancel-prompt {
  cursor: pointer;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 9rem;
  min-height: calc(100vh - 10rem);
}

main .content-panel,
main .comment {
  position: relative;
}

main .content-panel .author-info,
main .comment .author-info {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  padding: 0.72rem;
  margin: -0.72rem;
}

main .content-panel .author-info .profile-image-container,
main .comment .author-info .profile-image-container {
  margin: 0;
  margin-right: 1.2rem;
  width: 4.2rem;
}

main .content-panel .author-info h3,
main .content-panel .author-info p,
main .comment .author-info h3,
main .comment .author-info p {
  white-space: nowrap;
}

main .content-panel .author-info h3,
main .comment .author-info h3 {
  font-size: 1.4rem;
  margin-bottom: 0.24rem;
}

main .content-panel .author-info p,
main .comment .author-info p {
  margin: 0;
}

main .content-panel .author-info div:not(.profile-image-container):not(.profile-image),
main .comment .author-info div:not(.profile-image-container):not(.profile-image) {
  width: 60%;
}

main .content-panel .thumb-container,
main .comment .thumb-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

main .content-panel .thumb-container .like-thumb,
main .content-panel .thumb-container h3,
main .content-panel .thumb-container h4,
main .comment .thumb-container .like-thumb,
main .comment .thumb-container h3,
main .comment .thumb-container h4 {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

main .content-panel .thumb-container:hover,
main .comment .thumb-container:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

main .content-panel .thumb-container:hover .like-thumb,
main .comment .thumb-container:hover .like-thumb {
  fill: #5ff8bd;
}

main .content-panel .thumb-container:hover h3,
main .content-panel .thumb-container:hover h4,
main .comment .thumb-container:hover h3,
main .comment .thumb-container:hover h4 {
  color: #5ff8bd;
}

main .content-panel .thumb-container:active,
main .comment .thumb-container:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main .content-panel .thumb-container:active .like-thumb,
main .comment .thumb-container:active .like-thumb {
  fill: #40c894;
}

main .content-panel .thumb-container:active h3,
main .content-panel .thumb-container:active h4,
main .comment .thumb-container:active h3,
main .comment .thumb-container:active h4 {
  color: #40c894;
}

main .content-panel {
  padding: 2rem;
  overflow: hidden;
}

main .content-panel h1 {
  font-size: 2.4rem;
  margin: 0.6rem 0;
}

main .content-panel .tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -0.2rem;
}

main .content-panel .tag-container p, main .content-panel .tag-container a {
  margin: 0.2rem;
  margin-top: 0;
  padding: 0.2rem 0.4rem;
  border-radius: 0.32rem;
  font-weight: bold;
}

main .content-panel .tag-container p {
  background-color: #fafafa;
}

main .content-panel .tag-container a.home {
  background-color: #e4c74b;
}

main .content-panel .tag-container a.technology {
  background-color: #4bc7e4;
}

main .content-panel .tag-container a.work {
  background-color: #4be4a9;
}

main .content-panel .tag-container a.leisure {
  background-color: #4ba9e4;
}

main .content-panel .tag-container a.diy {
  background-color: #e44ba9;
}

main .content-panel .tag-container a.health {
  background-color: #f85fbd;
}

main .content-panel .tag-container a.cooking {
  background-color: #fafafa;
}

main .content-panel .tag-container a.gaming {
  background-color: #fafafa;
}

main .content-panel .tag-container a.nsfw {
  color: #fafafa;
  background-color: #424242;
}

main .content-panel .thumb-container .like-thumb {
  height: 3.2rem;
  width: 3.2rem;
  fill: silver;
}

main .content-panel .thumb-container h3 {
  margin: 0;
  margin-top: 0.2rem;
  color: silver;
}

main .comment {
  padding: 1rem;
}

main .comment .author-info {
  margin-bottom: 0.8rem;
}

main .comment .thumb-container .like-thumb {
  height: 2.2rem;
  width: 2.2rem;
  fill: silver;
}

main .comment .thumb-container h4 {
  margin: 0;
  margin-top: 0.2rem;
  color: silver;
}

main .comment p {
  margin: 0;
}

main svg.loading-graphic {
  margin-top: 2rem;
  height: 5rem;
  width: 5rem;
}

main .content-panel .author-info,
main .comment .author-info {
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

main .content-panel .author-info:hover,
main .comment .author-info:hover {
  background-color: #e9e9e9;
}

main .content-panel .author-info:active,
main .comment .author-info:active {
  background-color: gainsboro;
}

main .image-panel {
  display: inline-block;
  position: relative;
  width: calc(50% + 4.8rem);
  padding-top: calc(56.25% * 0.54);
  overflow: hidden;
}

main .image-panel img,
main .image-panel p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}

main .image-panel img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main .image-panel .image-caption {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% - 2rem);
  min-height: 4rem;
  border-radius: 1.6rem;
  color: #f2f2f2;
  background-color: rgba(10, 10, 10, 0.5);
}

main .comment-container .comment,
main .reply-container .comment {
  padding: 1.4rem;
  margin: 1rem 0;
  width: calc(100% - 2.8rem);
  border-radius: 1.6rem;
}

main .comment-container .comment p,
main .reply-container .comment p {
  width: 90%;
}

main .comment-container > p,
main .reply-container > p {
  text-align: center;
  padding: 1.4rem;
  background-color: #f4f4f4;
  border-radius: 1.6rem;
}

main > form,
main .comment-container {
  width: 52%;
}

main form {
  margin: 3rem 0;
}

main .comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem;
  border-radius: 1.6rem;
}

main .comment-container .comment {
  background-color: #f2f2f2;
}

main .comment-container > h3 {
  margin: 0;
  margin-left: 1.4rem;
  margin-bottom: -0.6rem;
}

main .comment-container > p {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: -1rem;
  width: calc(100% - 2.8rem);
}

main .reply-container {
  position: relative;
  margin-left: 10%;
  width: 90%;
  min-height: 9rem;
}

main .reply-container .comment {
  background-color: #f4f4f4;
}

main .reply-container svg.loading-graphic {
  position: absolute;
  left: 40%;
}

main .reply-container > p {
  margin: 2rem;
}

main .reply-button {
  position: relative;
  height: 3rem;
  width: 12rem;
  margin-top: -0.8rem;
  margin-bottom: 0.8rem;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .reply-button svg,
main .reply-button h3 {
  position: absolute;
}

main .reply-button svg,
main .reply-button h3 {
  top: 50%;
  left: 50%;
}

main .reply-button svg {
  -webkit-transform: translate(-140%, -50%);
          transform: translate(-140%, -50%);
  height: 2.4rem;
  width: 2.4rem;
}

main .reply-button h3 {
  -webkit-transform: translate(-34%, -6%);
          transform: translate(-34%, -6%);
}

main .reply-button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

main .reply-button:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=blog.css.map */